@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  background-color: rgb(var(--bg-canvas));
  color: rgb(var(--fg-default));
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  color: rgb(var(--fg-heading));
}
